<nz-layout>
  <!--通过link标签引入-->
  <!--  <link rel="stylesheet" href="../assets/xx.css">-->
  <!--  在模版中引入style标签-->
  <!--  <style>-->
  <!--    nz-sider{-->
  <!--      background:#fff-->
  <!--    }-->
  <!--  </style>-->
  <nz-header class="header">
    <div><span routerLink="/introduce">Demo-Test W先生的Blog的练手场</span></div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <app-demo-sider></app-demo-sider>
    </nz-sider>
    <nz-layout>
      <nz-content class="routerContent">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
