<!--<router-outlet></router-outlet>-->

<!--动画-->
<!--<app-animation-demo></app-animation-demo>-->
<!--<app-complex-animations></app-complex-animations>-->

<!--可编辑的table的Demo-->
<!--<app-edit-table></app-edit-table>-->

<!--响应式表单 FormGroup FormArray-->
<!--<app-user-info></app-user-info>-->

<!--多层级的表单嵌套-->
<!--<app-form-nested></app-form-nested>-->

<!--响应式表单的验证-->
<!--<app-reactive-form-validator></app-reactive-form-validator>-->

<!--动态修改响应式表单的校验器-->
<!--<app-modify-validator></app-modify-validator>-->

<!--响应式表单异步校验器-->
<!--<app-async-demo></app-async-demo>-->

<!--模板驱动式表单验证-->
<app-forms-validator></app-forms-validator>
