<form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label nzSpan="4">转换大写</nz-form-label>
    <nz-form-control nzSpan="7">
      <input nz-input appToUpperCase formControlName="name" placeholder="请输入字符">
    </nz-form-control>
  </nz-form-item>
</form>

<nz-table #nzTable [nzData]="data">
  <thead>
  <tr>
    <th nzWidth="40%">Name</th>
    <th nzWidth="30%">Age</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data">
    <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
      <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
        <td [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
          {{item.name}}
        </td>
        <td>{{item.age}}</td>
        <td>{{item.address}}</td>
      </tr>
    </ng-template>
  </ng-template>
  </tbody>
</nz-table>
