<showdown [value]="'## DemoTest'"></showdown>
<showdown>
  这个项目是采用 [Angular CLI](https://github.com/angular/angular-cli) 7.3.1.的版本
</showdown>
<showdown>
  这个项目是[W先生的CSDN Blog](https://blog.csdn.net/wjyyhhxit)上的一些参考代码，纯属练手。
</showdown>
<showdown value="## 本地开发"></showdown>
<showdown value="### 克隆本项目"></showdown>
<showdown>
  ```
  git clone https://github.com/W-Abel-jia/demo-test.git
  ```
</showdown>
<showdown value="### 安装依赖"></showdown>
<showdown>
  ```
  npm install
  ```
</showdown>
<showdown value="### 本地构建开发"></showdown>
<showdown>
  ```
  npm run start
  ```
</showdown>
<showdown value="### 在浏览器中输入"></showdown>
<showdown>
  ```
  http://localhost:8090/
  ```
</showdown>

<showdown value="# 如果在看Blog或者在实践的过程中，出现任何问题"></showdown>
<showdown value="## 可以直接在[GitHub上提Issue](https://github.com/W-Abel-jia/demo-test) 或者直接在[CSDN的任何一个Blog](https://blog.csdn.net/wjyyhhxit)下评论"></showdown>
